Source: xfireworks
Section: games
Priority: optional
Maintainer: Yukiharu YABUKI <yyabuki@debian.org>
Standards-Version: 4.5.0
Build-Depends: libx11-dev, debhelper-compat (= 13)
Vcs-Git: https://salsa.debian.org/debian/xfireworks.git
Vcs-Browser: https://salsa.debian.org/debian/xfireworks

Package: xfireworks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fireworks in your root window
 XFireworks makes fireworks in the root window on X.
 This is imitation of Japanese "Hanabi Taikai". It is very popular event
 in Japanese summer  and  performed  on  some rivers.
